vivado/**
!vivado/**/

# Keep this constraints file tracked
!vivado/xdma_demo.srcs/constrs_1/new/cons.xdc

# Track generated FPGA output/debug artifacts
!vivado/**/*.bit
!vivado/**/*.ltx
!vivado/**/*.ila
!vivado/**/bd_design.tcl
!vivado/**/recreate_project.tcl

# Ignore deprecated helper scripts directory
testing/python/old/
testing/python/input_signal.bin
testing/python/output_signal.bin